{% extends "base.html" %}

{% block title %} &ndash; Profile {% endblock %}

{% block content %}

<article class="single profile">

  <header>
    <h2 class="page-header">Profile</h2>
  </header>

  <div id="profile-box">
    <div class="card">
      <div class="card-body">
        <table id="profile-table">
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</article>

{% endblock %}


{% block additional_js %}

<script>
  $(document).ready(loadProfile);
</script>

{% endblock %}