{% extends "base.html" %}

{% block title %} &ndash; Projects {% endblock %}

{% block content %}
<article class="single projects">
  <header>
    <h1 class="page-header">Projects</h1>
  </header>

      <div class="project-grid">

        <div class="project">
          <h4>ArcaNumeri for iOS</h4>
          <div class="project-img">
            <a href="http://www.arcanumeri.com" target="_blank">
              <img class="rounded-circle" src="{{IMG_DIR}}/projects/arcanumeri.jpg">
            </a>
          </div>
          <div class="project-text">
            <p>
              Find the hidden number!<br><br>
              ArcaNumeri is a mind-bending code-breaking game that gives you ten chances to decipher the 4-digit number.
            </p>
          </div>
        </div>

        <div class="project">
          <h4>Silver Solutions</h4>
          <div class="project-img">
            <a href="https://www.silversolutions.io" target="_blank">
              <img class="rounded-circle" src="{{IMG_DIR}}/projects/silver_solutions.png">
            </a>
          </div>
          <div class="project-text">
            <p>
              Communicate with confidence.<br><br>
              Boutique freelance consulting team offering PowerPoint services, graphic design, and résumé coaching.
            </p>
          </div>
        </div>

        <div class="project">
          <h4>Smash Randomizer</h4>
          <div class="project-img">
            <a href="https://jeremander.github.io/Smash" target="_blank">
              <img class="rounded-circle" src="{{IMG_DIR}}/projects/ssbm.jpg">
            </a>
          </div>
          <div class="project-text">
            <p>
              Choose your character!<br><br>
              This customizable random character selector is perfect for Super Smash Bros. fans who want to switch it up, while avoiding the low-tiers!
            </p>
          </div>
        </div>

        <div class="project">
          <h4><i>Jeopardy!</i> &#8239; Trainer</h4>
          <div class="project-img">
            <a href="#">
              <img class="rounded-circle" src="{{IMG_DIR}}/projects/jeopardy.png">
            </a>
          </div>
          <div class="project-text">
            <p>
              Want to be on <i>Jeopardy!</i>?<br><br>
              Hone your trivia knowledge with this web app featuring the complete collection of questions asked on the popular game show.
            </p>
          </div>
        </div>

      </div>
</article>
{% endblock %}